body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
}
/* GENERIC */
.sans-serif {
    font-family: Verdana, Tahoma, sans-serif;
    color:rgb(43, 52, 69);
}

.serif {
    font-family: Georgia, 'Times New Roman', serif;
    color:rgb(43, 52, 69);

}
a:hover{
    text-decoration: none;
    color: rgb(254,105,106,0.5);

}
a{
    text-decoration: none;
    color: rgb(254,105,106);

}
/* HEADER */
header {
    background-color: #d7e2e7c7;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom:0.7rem ;

}
#redes {
    font-size: 2rem;
    font-variation-settings: 'wght' 900;
    color:rgb(43, 52, 69);;
    margin: 0;

}
#e{
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', serif;
    line-height: 1;
} 

header a {
    display: block;
    margin: 0.2rem;
    font-weight: bold;
    
}

/* MAIN */
.container {
    width: 95%; 
    max-width: 850px;
    margin-top: 1rem;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;

}
h1{
    font-size: 2.4rem;
}
main h2{
    font-size: 2rem;
    margin: 1rem 3rem 0.5rem 3rem; 
    color: rgb(43, 52, 69);;
}
.subtitle{
    margin-top: 0;
    font-size: 0.8rem;
}
img{
    margin: 1rem;
    width: 700px;
    
}
#post_foto{
    margin: 0rem 8rem 1rem 5rem; /*  superior,  derecho, inferior, izquierdo */
    text-align: left;
}

.pie_de_foto{
    margin-top: 0;
    font-size: 0.8rem;
}
main h3{
    font-size: 1.7rem;
    text-align: left;
    color: rgb(43, 52, 69);;
}
.contenido{
    margin-right: 4rem;
    text-align: left;
}
u{
    border-bottom: 1px dotted;
    text-decoration: none;
}
.cita{
    border-left: 0.4rem solid rgb(254,105,106);
    padding-left: 0.5rem;
    margin-left: 2.5rem;
    font-weight: bold;
    font-style: italic;
    margin-right: 3rem;
}
.cita p{
    margin-left: 1rem;
}
.left{
    line-height: 2;
    text-align: left;
}
.left2{
    text-align: left;

}
.users li{
    list-style-image: url(img/users.svg);
}

.regular li{
    list-style-image: none;
    list-style-type: disc;
}
.enunciado{
    font-size: 1.5rem;
}
.photo img{
    max-width: 24rem;
    margin-bottom: 0.5rem;
}
h3.serif{
    margin-bottom: 0;
    font-size: 1.4rem;
}
.top{
    margin-top: 0px;
}



/* FOOTER */

footer {
    text-align: left;
    background-color: black;
    padding: 2rem;
    width: 100%;
}
footer div{
    margin-left: 3rem;
    color: rgb(255,255,255);
    font-size: 0.8rem;
}
